.product-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.product-section .product_frame{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    background-color: var(--bg-section);
    border-radius: 10px;
    padding: 20px 15px;
    margin-top: 35px;
    width: 70%;
}
.product_frame .product_image img{
    border-radius: 6px;
}


.product_frame .product_name_price{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product_frame .product_name_price .product_name {
    font-size: 20px;
    font-weight: 700;
}

.product_frame .product_name_price .product_price{
    font-size: 15px;
    font-weight: 600;
}

.product_frame .product_infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.product_infos .product_options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.product_options input{
    width: 220px;
    height: 35px;
    border-style: none;
    border-radius: 5px;
    padding: 5px;
}

.product_options .buttons_product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.product_infos .product_description h3{
    font-size: 20px;
    font-weight: 500;
}
.product_infos .product_description p{
    width: 200px;
    height: auto;
    background-color: white;
    padding: 20px 15px;
    border-radius: 8px;
    margin-top: 5px;
}

.buttons_product button{
    width: 100px;
    height: 40px;
    border-style: none;
    border-radius: 10px;
}



.buttons_product .buy_product{
    background-color: var(--bg-sitecolor);
    font-weight: 600;
    font-size: 15px;
}
.buttons_product .buy_product a{
    text-decoration: none;
    color: black;
}


.buttons_product .add_cart img{
    height: 35px;
    width: 35px;
}


.comment-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-top: 70px;
     
}
.comment-section h2{
    color:white;
    font-size: 30px;
    font-weight: 400;
}

.comment-section .comment_frame{
    background-color: var(--bg-section);
    padding: 25px 15px;
    border-radius: 10px;

}

.comment_frame .add_comment{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.comment_frame .add_comment .user_comment{
    height: 45px;
    width: 70%;
    padding: 15px;
    border-radius: 2px;
    border-style: none;
}

.comment_frame .add_comment .add_user_comment{
    height: 45px;
    width: 30%;
    background-color: var(--bg-sitecolor);
    border-style: none;
    border-radius: 2px;
}

.comment_frame .avaliacao_1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 30px;
}


.avaliacao_1 .user_1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.avaliacao_1 .user_name{
    font-weight: 600;
}

